DB_ADDR=wss://your-instance.aws-use1.surreal.cloud
DB_USER=your-user
DB_PASS=your-password
WEB_ADDR=127.0.0.1
WEB_PORT=8080
SMTP_PRIVATE_KEY=enter_app_key_here


# R2_ACCOUNT_ID=abc123...
# R2_ACCESS_KEY_ID=...
# R2_SECRET_ACCESS_KEY=...
# R2_BUCKET=choredom-media
# R2_PUBLIC_URL=https://pub-xxx.r2.dev   # from your bucket's public domain setting
