html, body {
    background-color: #393d41;
}

.stdheader {
    background-color: #282b2e;
}

.stdfooter {
    background-color: #282b2e;
}

.stdheader .btna {
    color: #1dbf73;
    background-color: #393d41;
}

.stdheader .btna:hover {
    background-color: #1dbf73;
    color: #393d41;
    /* Change the background color when hovering /
    / Change the text color when hovering */
}

.stdc .homepage {
    /* display: inline-block; */
    background-color: #393d41;
    color: #1dbf73;
}

.stdbox {
    color: #a0a0a0;
    background-color: #282b2e;
}

