html, body {
    background-color: #393d41;
    /* color: #a0a0a0 */
}

.stdheader {
    background-color: #282b2e;
}

.stdfooter {
    background-color: #282b2e;
    color: #1dbf73;
}
.stdfooter a {
    color: #1dbf73
}

.stdheader .btna {
    color: #1dbf73;
    background-color: #393d41;
}

.stdheader .btna:hover {
    background-color: #1dbf73;
    color: #393d41;
}

.stdheader .btnb{
    color: #1dbf73;
    background-color: #393d41;
}

.stdheader .btnb:hover{
    background-color: #1dbf73;
    color: #393d41;
}

.stdbox {
    color: #a0a0a0;
    background-color: #282b2e;
}

.embedb {
    border-color: #a0a0a0;
}

input,
textarea {
    background-color: #393d41;
    color: rgb(211, 211, 211);
}

.message, .pfp{
    color: white;
}
.pfp a{
    color: rgb(192, 192, 192);
}