html, body {
    background-color: #ffffff;
}

.stdheader {
    background-color: #1dbf73;
    /* Reduced top and bottom padding */
}
.stdfooter {
    background-color: #1dbf73;
    color: #333;
}

.stdheader .btna {
    /* Fill the links with color */
    color: #ffffff;
    /* Round the corners of the links */
    background-color: #1dbf73;
}

.stdheader .btna:hover {
    background-color: #ffffff;
    /* Change the background color when hovering */
    color: #1dbf73;
    /* Change the text color when hovering */
}

.stdbox{
    background-color: #ffffff;
}
  