/* HOMEPAGE.CSS */
body {
    background-image: url(/src-web/assets/aerobackground.png);
    background-repeat:no-repeat;
    background-size:cover;
}
footer {
    background-image: url(/src-web/assets/footer.png);
    background-repeat:no-repeat;
    background-size:cover;
}
header{
    background-color: rgba(11,184,171,255);
}
/* CHAT.CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #eb1a1a;
    color: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/* LOGIN.CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #ec4c4c;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #bb9c11;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* MAIN.CSS */
body {
    background-image: url(/src-web/assets/aerobackground.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #08867c;
    color: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
header {
    background-color: rgba(11,184,171,255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    background-image: url(/src-web/assets/footer.png);
    background-repeat:no-repeat;
    background-size:cover;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
/* POLICIES.CSS */
header {
    background-color: #0833a8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* POST.CSS */
header {
    background-color: #408b68;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* PROFILE.CSS */
header {
    background-color: #7e363a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* SETTINGS.CSS */
input[type=submit] {
    background-color: #4CAF50;
    color: rgb(170, 33, 33);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* SIGNUP.CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #34aa4d;
    color: #333;
    margin: 0;
    padding: 0;
}
form {
    background-color: rgb(231, 14, 14);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}