#room-title {
  text-align: center;
}

#chat_box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height: 60vh;
  overflow-y: auto;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#message-input-div {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}