html, body {
    background-image: url(/src-web/assets/aerobackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #08867c;
}

.stdh {
    background-color: rgba(11, 184, 171, 255);
    padding: 20px;
}

.stdf {
    background-image: url(/src-web/assets/aerofooter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stdh .stda {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #08867c;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    /* Round the corners of the links */
}

.stdh .stda:hover {
    background-color: #ffffff;
    /* Change the background color when hovering */
    color: #08867c;
    /* Change the text color when hovering */
}

.stdc .homepage {
    background-color: #1dbf73;
    color: #ffffff;
}
  

/* .stdh .signoutb {
    display: inline-block;
    background-color: #1dbf73;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
} */

/* Adjust the hover effect on buttons for better visibility */
/* .stdh .signoutb:hover {
    background-color: white;
    color: #1dbf73;
} */