html, body {
    background-color: #ffffff;
}

.stdh {
    background-color: #1dbf73;
    padding: 10px;
    /* Reduced top and bottom padding */
}
.stdf {
    background-color: #1dbf73;
}
.stdh .stda {
    /* Fill the links with color */
    color: #ffffff;
    /* Round the corners of the links */
    background-color: #1dbf73;
}
.stdh .stda:hover {
    background-color: #ffffff;
    /* Change the background color when hovering */
    color: #1dbf73;
    /* Change the text color when hovering */
}

.stdc .homepage {
    background-color: #1dbf73;
    color: #ffffff;
}
  