html, body {
    background-color: #393d41;
}

.stdh {
    background-color: #282b2e;
    padding: 20px;
}

.stdf {
    background-color: #282b2e;
}

.stdh .stda {
    color: #1dbf73;
    background-color: #393d41;
}

.stdh .stda:hover {
    background-color: #1dbf73;
    color: #393d41;
    /* Change the background color when hovering /
    / Change the text color when hovering */
}

.stdc .homepage {
    /* display: inline-block; */
    background-color: #393d41;
    color: #1dbf73;
}

.stdd {
    color: #a0a0a0;
    background-color: #282b2e;
}

