/* Generic Selectors */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #333;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.stdheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#needs_logo {
  padding-left: 15px;
  height: 50px;
  border: 0;
}

nav {
  display: flex;
  gap: 10px;
}

.stdfooter{
  color: #333;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

/* Standard "button" for anchor tags. */
.btna {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  
  background-color: #1dbf73;
  color: white;

  text-decoration: none;
  transition: background-color 0.2s ease, color 0.4s ease, border-color 0.2s ease;
  cursor: pointer;

  border: 2px solid white;
  border-radius: 5px;
}

.btna:hover {
  background-color: #ffffff;
  color: #1dbf73;

  border-color: #16a45f;
  border-width: 2px;
}

/* Standard button for button tags. */
.btnb {
  color: white;
  background-color: #1dbf73;

  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  
  border: 2px solid white;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  font-size: 12pt;
  text-decoration: none;
}

.btnb:hover {
  background-color: #16a45f;
  color: #ffffff;
}

.embedb {
  padding: 10px 20px;
  border: 2px solid #333;
}
 

.stdbox{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;

  background-color: #ffffff;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.stdsmallbox{
  max-width: 360px;
}

.stdtitle{
  font-size: 20pt;
  font-weight: bold;
}


.chat_list{
  margin-top: 50px;
  margin-left: 20px;
  width: fit-content;
  padding: 0px 30px 10px 10px;

  background-color: #1dbf73;

  border-color: #333;
  border-radius: 10px;
  border: solid 3px;
}
.chat_list_elem{
  background-color: #1dbf73;
  border-width: 10px;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  font-size: 15pt;
}
.chat_list_elem:hover{
  background-color: #16a45f;
}

.center{
  margin: 50px auto;
}

.label_region{
  padding-bottom: 10px;
}

.stdlabel {
  display: block;
  margin-bottom: 15px;
  /* margin-bottom: 5px; */
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.stdtextarea{
  resize: none;
  height: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,
textarea,
select {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.contact_us {
  color: #1dbf73;
  text-decoration: none;
}




/* Other */

.policyc {
  max-width: 580px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.policyc .contact_us {
  color: #1dbf73;
  text-decoration: none;
}

.policyc h1 {
  font-size: 25px;
}

#dropdown {
  margin-bottom: 15px;
}

#dropdown select {
  /* For WebKit browsers */
  -webkit-appearance: none;
  /* For Mozilla Firefox browsers */
  -moz-appearance: none;
  /* For modern browsers */
  appearance: none;

  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

#dropdown select:focus {
  outline: none;
  border-color: #1dbf73;
}

#dropdown option {
  padding: 10px;
}

.rating {
  direction: rtl;
  font-size: 30px;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ccc;
  transition: color 0.3s;
  margin-right: 10px;
}

.rating label:hover,
.rating input:checked ~ label {
  color: #1dbf73;
}

.review {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

#room-title {
  text-align: center;
}

#chat_box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height: 60vh;
  overflow-y: auto;
}
.chat_enter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}


.message {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


