/* Generic Selectors */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #333;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.stdheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#needs_logo {
  padding-left: 15px;
  height: 50px;
  border: 0;
}

nav {
  display: flex;
  gap: 10px;
}

.stdfooter{
  color: #333;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.btna {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  
  background-color: #1dbf73;
  color: white;

  text-decoration: none;
  transition: background-color 0.2s ease, color 0.4s ease, border-color 0.2s ease;
  cursor: pointer;

  border: 2px solid white;
  border-radius: 5px;
}
.btna:hover {
  background-color: #ffffff;
  color: #1dbf73;

  border-color: #16a45f;
  border-width: 2px;
}
.btnb {
  color: white;
  background-color: #1dbf73;

  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  
  border: 2px solid white;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  font-size: 12pt;
  text-decoration: none;
}
.btnb:hover {
  background-color: #16a45f;
  color: #ffffff;
}
.embedb {
  padding: 10px 20px;
  border: 2px solid #333;
}
 
.stdbox{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;

  background-color: #ffffff;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.stdsmallbox{
  max-width: 360px;
}
.hanger {
  max-width: 580px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.small_region{
  padding-bottom: 10px;
  padding-top: 10px;
  width: fit-content;
  height: fit-content;
}

.label_region{
  padding-bottom: 10px;
  padding-right: 20px;
}
.stdlabel {
  display: block;
  margin-bottom: 15px;
  /* margin-bottom: 5px; */
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.dangerzone{
  color: red;
}
.dangerzone input:focus{
  border:3px solid red;
}
.dangerzone .btna:hover, .dangerzone .btnb:hover{
  color:white;
  font-weight: bold;
  border: 2px solid red;
  background-color: darkred;
}
.dangerzonebtn:hover{
  color:white;
  font-weight: bold;
  border: 2px solid red;
  background-color: darkred;
}

input,
textarea {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
.stdtextarea{
  resize: none;
  height: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.green_link {
  color: #1dbf73;
  text-decoration: none;
}

.stdtitle{
  font-size: 20pt;
  font-weight: bold;
}
.chat_list{
  margin-top: -120px;
  margin-left: 20px;
  width: fit-content;
  padding: 0px 30px 20px 20px;
  flex-direction: column;

  background-color: #1dbf73;

  border-color: #333;
  border-radius: 10px;
  border: solid 3px;
}
.chat_center{
  margin: 50px auto;
}
.chat_side{
  margin-right: 20px;
  max-width: 330px;
}
.chat_list_elem{
  background-color: #1dbf73;
  border-width: 10px;
  border-radius: 20px;
  padding: 10px;
  /* width: fit-content; */
  width: 100%;
  font-size: 15pt;
  text-decoration: none;
  color:#333;
  display: flex;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.chat_list_elem:hover{
  background-color: #16a45f;
  border: black solid 2px;
  box-shadow: 0 0 3px black inset;
}

#chat_box{
  margin: -150px auto;
  max-width: 600px;
  max-height: 400px;
  min-height: 200px;
  padding: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); */
  overflow-y: scroll;
}
.message{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.message img{
  max-width: 200px;
}
.pfp{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pfp a{
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.pfp img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  overflow: hidden;
  border: 2px #333 solid;
  border-radius: 50%;
  margin: 10px;
}
.chat_enter {
  /* position: fixed; */
  /* bottom: 0; */
  margin: 160px auto;
  /* left: 50%; */
  /* transform: translate(-50%, 0%); */
  flex-direction: row;
  display: flex;
}



/* Other */







.rating {
  direction: rtl;
  font-size: 30px;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ccc;
  transition: color 0.3s;
  margin-right: 10px;
}

.rating label:hover,
.rating input:checked ~ label {
  color: #1dbf73;
}

.review {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

