html {
    background-color: black;
}


.main-title {
    position: absolute;
    margin-left: 41%;
    font-size: 50px;
    color: white;
}

.email-input {
    position: absolute;
    margin-left: 38%;
    margin-top: 13%;
    font-size: 20px;
}

.password-input {
    position: absolute;
    margin-left: 38%;
    margin-top: 17%;
    font-size: 20px;
}

.confirmPW-input { 
    position: absolute;
    margin-left: 38%;
    margin-top: 21%;
    font-size: 20px;  
}

.choose-cities { 
    position: absolute;
    margin-left: 39%;
    margin-top: 10%;
    font-size: 20px;
}

.continue {
    position: absolute;
    margin-left: 20px;
}




