html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-ui{
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    background-color: wheat;
    width: fit-content;
    /* justify-self: ; */
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}