/* Global Styles */
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  /* Header Styles */
  header {
    background-color: #333333;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-size: 24px;
    margin-right: 20px;
  }
  
  nav a {
    margin-right: 10px;
  }
  
  /* Main Styles */
  main {
    padding: 20px;
  }
  
  .post {
    background-color: #222222;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .post h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .post h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .post p {
    margin-bottom: 5px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Dark Mode Styles */
  .dark-mode body {
    background-color: #222222;
    color: white;
  }
  
  .dark-mode header {
    background-color: #000000;
  }
  
  .dark-mode a {
    color: white;
  }
  
  .dark-mode .post {
    background-color: #111111;
  }
  
  .dark-mode footer {
    background-color: #000000;
  }
  