/* Global Styles */
body {
  background-color: black;
  color: #F5F5F5; /* Lighter shade of white for better contrast against black background */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a, button, [role="button"], [data-role="button"] {
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Header Styles */
header {
  background-color: #333333;
  padding: 20px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-right: 20px;
}

nav a {
  margin-right: 10px;
}

/* Main Styles */
.wrapper {
  max-width: 1200px; /* Set a max-width to prevent content from stretching on large screens */
  margin: 0 auto; /* Center the content */
  padding: 20px; /* Add some padding for better layout */
}

#town-input {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #F5F5F5;
}

.post {
  background-color: #222222;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444; /* Add a border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow */
}

.post h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.post h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.post p {
  margin-bottom: 5px;
}

/* Footer Styles */
footer {
  background-color: #333333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

/* Dark Mode Styles */
.dark-mode body {
  background-color: #222222;
  color: white;
}

.dark-mode header {
  background-color: #000000;
}

.dark-mode a {
  color: white;
}

.dark-mode .post {
  background-color: #111111;
}

.dark-mode footer {
  background-color: #000000;
}
